@use "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
// Headings
$heading__font: "Poppins", sans-serif;

//Body
$body__font: "Open Sans", sans-serif;

$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);

body {
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100vw;
  background-color: $Violet;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38.125rem;
}
.logo {
  align-self: flex-start;
  width: 15.625rem;
  height: 2.8125rem;
  margin-bottom: 135px;
  margin-top: 70px;
}
.header {
  text-align: center;
  color: #f1f1f1;
  font-family: $heading__font;
  width: 39.6875rem;
  height: 25.9375rem;
  margin-bottom: 50px;
  &__h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  &__p {
    font-size: 2em;
    font-family: $body__font;
  }
}
.image {
  width: 37.5rem;
  height: 26.25rem;
  margin-bottom: 140px;
}

.btn {
  width: 25.625rem;
  height: 5rem;
  font-size: 1.25em;
  color: $Violet;
  border-radius: 3rem;
  box-shadow: 2px 1px 7px 0px #1b1b1b;
  margin-bottom: 125px;
  &:hover {
    background-color: $Soft-Magenta;
    border: 0 none;
    transition: ease 0.25s;
  }
}

.nav {
  width: 13.4375rem;
  height: 3.75rem;
  margin-bottom: 100px;
  &__li {
    list-style: none;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 5px 5px 5px 5px;
    &:hover {
      border-color: $Soft-Magenta;
      transition: ease 0.2s;
    }

    &--active {
      width: 2.5em;
      height: 2.5em;
      display: inline;
      position: relative;
      text-align: end;
      bottom: 3px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(109%)
        hue-rotate(310deg) brightness(114%) contrast(89%);
      &:hover {
        filter: brightness(0) saturate(100%) invert(85%) sepia(20%)
          saturate(4624%) hue-rotate(245deg) brightness(94%) contrast(94%);
        transition: ease 0.2s;
      }
    }
  }
  &__ul {
    display: flex;
    justify-content: space-around;
    left: -15px;
    position: relative;
    width: 215px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: top bottom;
    // background-size:
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    display: grid;
    // border: .0625rem solid black;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
  }

  .logo {
    grid-area: 1/1/2/2;
    align-self: start;
    margin-bottom: 100px;
  }
  .image {
    grid-area: 2/1/4/3;
    width: 43.75rem;
    height: 30.9375rem;
  }
  .header {
    grid-area: 2/3/3/5;
    width: 32.1875rem;
    height: 13.125rem;
    margin-bottom: 60px;
    margin-left: 55px;
    text-align: left;
    align-self: end;
    &__h1 {
      font-size: 2em;
    }
    &__p {
      font-size: 1.2em;
    }
  }
  .btn {
    grid-area: 3/3/4/4;
    align-self: start;
    margin-left: 55px;
    width: 12.8125rem;
    height: 3.75rem;
  }
  .nav {
    grid-area: 4/4/5/5;
    justify-self: end;
    align-self: start;
    position: relative;
    left: 40px;
    margin-bottom: -5px;
    &__li {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}
